[Unit]
Description=Leak Killer Application
After=eth-node.service

[Service]
ExecStart=/opt/iotbc/bin/leak-killer
Restart=always
RestartSec=3
User=demo
Group=demo

[Install]
WantedBy=multi-user.target
